<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cab Booking</title>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand text-white" href="#">TRAVEL MANAGEMENT
				SOLUTION</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active text-white"
						aria-current="page" th:href="@{/home}">Home</a></li>
					<li class="nav-item"><a class="nav-link text-white" th:href="@{/bookings/new}">Booking service</a></li>
					<li class="nav-item"><a class="nav-link text-white" th:href="@{/bookingLists}">Booking List</a></li>
				</ul>
				
			</div>

		</div>
	</nav>
	<h1 class="text-center" style="margin-top: 25px">Book a Cab</h1>

	<form class="col-md-4 offset-md-4" th:action="@{/calculateFare}" th:object="${booking}" method="post">
		<div class="mb-3">
			<label for="pickupTime" class="form-label">PickUpTime</label> 
			<input type="time" class="form-control" id="pickupTime" th:field="*{pickupTime}">
		</div>
		<div class="mb-3">
			<label for="pickupLocation" class="form-label">PickUpLocation</label>
			<input type="text" class="form-control" id="pickupLocation"
				th:field="*{pickupLocation}">
		</div>
		<div class="mb-3">
			<label for="dropoffLocation" class="form-label">DropOffLocation</label>
			<input type="text" class="form-control" id="dropoffLocation"
				th:field="*{dropoffLocation}">
		</div>
		<div class="mb-3">
			<label for="dropoffTime" class="form-label">DropoffTime</label> <input
				type="time" class="form-control" id="dropoffTime" th:field="*{dropoffTime}">
		</div>

		<div class="mb-3">
            <label for="distance" class="form-label">Distance (in kms)</label>
            <input type="number" class="form-control" id="distance" th:field="*{distance}" required>
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">Time (in minutes)</label>
            <input type="number" class="form-control" id="time" th:field="*{time}" required>
        </div>
		<div class="mb-3">
            <label for="cabType" class="form-label">Cab Type:</label>
            <select id="cabType" th:field="*{cabType}" class="form-select" required>
                <option value="standard">Standard</option>
                <option value="luxury">Luxury</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="fare" class="form-label">Fare</label>
            <input type="number" class="form-control" id="fare" th:field="*{fare}" readonly>
        </div>

		<button type="submit" class="btn btn-primary">Calculate Fare</button>
		<button type="submit" class="btn btn-primary" th:formaction ="@{/saveBooking}" method="post">Book Now</button>
	</form>
	
	
	
</body>
</html>
